{% extends 'base.html' %}

{% block content %}
    <section>
        <form action="" method="post">
            <div class="form-errors">
                {% for error in form.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="form-groups">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                        {{ field.label}}
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Signup</button>
            </div>
        </form>
    </section>
{% endblock content %}