@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --clr-primary: #304C89;
    --clr-secondary: #648DE5;
    --clr-accent: #E8E5DA;
    --clr-text: rgb(0, 0, 0);
    --clr-white: rgb(255, 255, 255);
    --clr-gray-light: rgb(204, 195, 195);
    --clr-gray-dark: rgb(73, 68, 68);

    --spacing-small: .5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;

    --size-small: .3rem;
    --size-medium: .7rem;
    --size-large: 1rem;

}

*,*::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}
li{}
a{
    text-decoration: none;
    color: var(--clr-text);
}
form{
    max-width: 600px;
    margin: auto;
    padding: 0 var(--spacing-medium);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}
input ,
textarea{
    width: 100%;
    padding: var(--spacing-small);
    border: 1px solid var(--clr-gray-light);
    border-radius: var(--size-small);
    resize: none;
}
input:active, 
input:focus,
textarea:focus,
textarea:active{
    border: 1px solid var(--clr-gray-dark);
    outline: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: var(--spacing-medium);
    margin: auto;
}
.border-bottom{

    border-bottom: 1px solid var(--clr-gray-dark);
}
.form-group{
    flex-grow: 3;
    /* margin-bottom: var(--spacing-small); */
  }
.btn{
    display: inline-block;
    padding: var(--spacing-small) var(--spacing-large);
    margin: var(--spacing-medium) 0px;
    margin-left: 0;
    border: none;
    border-radius: var(--size-small);
    cursor: pointer;
    transition: .3s ease;
}
.btn-primary{
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.btn-secondary{
    background-color: var(--clr-secondary);
    color: var(--clr-white);
}
.btn-follow{
    background: none;
    color: var(--clr-text);
    border: 1px solid var(--clr-accent);
}
.btn-follow:hover{
    background: var(--clr-accent);
    color: var(--clr-text);
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-large) 0px;
    position: fixed;
    clear: both;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--clr-white);
    margin-bottom: 200px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li a{
    margin: 0px var(--spacing-medium);
}
.logo{
    margin-right: auto;
}
.main{
    margin-top: 80px;
}
.search-form, 
.comment-form{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.feeds, 
.feed-detail, 
.profile,
.following-list, 
.followers-list,
.notifications, 
.copyright-info,
.home,
.conversation
{
    max-width: 600px;
    margin: auto;
    padding: var(--spacing-large);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}
.profile-feeds{
   
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.feed{
    padding: var(--spacing-small);
    border: 1px solid var(--clr-gray-light);
    border-radius: var(--size-small);
    box-shadow: 0 2px var(--size-medium) rgba(0, 0, 0, .1);
}

.feed-header{
    padding: var(--spacing-medium);
    border-bottom: 1px solid var(--clr-gray-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-date{
    font-size: var(--size-medium);
    color: var(--clr-gray-light);
}

.feed-body{
    padding: var(--spacing-large);
}

.feed-footer{
    border-top: 1px solid var(--clr-gray-light)
}

.feed-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-large);
    padding: 0px var(--spacing-medium);
}

.feed-like-icon{
    font-size: 1.3rem;
}
.feed-like-info,
.feed-comment-info{
    font-size: var(--size-large);
    color: var(--clr-gray-light);
}
.feed-info .btn{
    margin-left: auto;
}
.feed-detail-like{
    margin-right: auto;
}
.feed-comments{
    padding: var(--spacing-medium);
    border-top: 1px solid var(--clr-gray-light);
    border-bottom: 1px solid var(--clr-gray-light);
}

.comment{
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: var(--spacing-medium);
    /* padding: var(--spacing-small) 0px; */
    margin-bottom: var(--spacing-small);
    text-align: right;
    border: 1px solid var(--clr-gray-light);
    border-radius: var(--size-small);
    padding: var(--spacing-small);
}

/* Profile info */

.profile-info{
    padding: var(--spacing-small);
}
.profile-user-info{
    text-align: center;
    margin-bottom: var(--spacing-medium);
}
.stats{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--spacing-medium);
    margin: var(--spacing-medium) var(--spacing-large);
    border: 1px solid var(--clr-gray-dark);
    border-radius: var(--size-small);
}
.following_stat, .followers_stat, .feed_stat{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    justify-content: flex-start;
    align-items: center;
}

/* following and followers info */

.profile-list-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-medium) var(--spacing-large);
    border: 1px solid var(--clr-gray-light);
    border-radius: var(--size-small);
    margin: var(--spacing-medium) 0;
}
.profile-list-info div:first-child{
   display: flex;
   flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--spacing-small);
}
.profile-list-info div:first-child span{
    font-size: .8rem;
    color: var(--clr-gray-light);
    margin-right: var(--spacing-small);
}
.username {
    font-size: 1rme;
}

.notification-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-medium) var(--spacing-large);
    border: 1px solid var(--clr-gray-light);
    border-radius: var(--size-small);
    margin: var(--spacing-medium) 0;
}

.notification-link{
    position: relative;
}

.notification-link .notification-counts{
    position: absolute;
    top: 0;
    left: 100%;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    font-size: .5rem;
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: -1; */
    
}

.messages{
    width: 100%;
    height: 4 00px;
    margin: var(--spacing-large) auto;
    padding: var(--spacing-large);
    border: 1px solid var(--clr-gray-dark);
    overflow-y: scroll;
}
.message::-webkit-scrollbar{
    display: none;
}
.conversation form{
    width: 100%;
}
.message-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}
.message-header{
    display: flex;
    justify-content: space-between;

}
.message-user{
    margin-right: auto;
}
.message-body{
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
}
.message-date{
    font-size: .8rem;
    color: var(--clr-gray-light);
}
.message-alert{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    align-self: center;
    margin: 0px var(--spacing-small);
}
.message-alert.unseen{
    background: var(--clr-primary);
}
.message{
    max-width: 50%;
    border: 1px solid var(--clr-gray-light);
    border-radius: var(--size-small);
    padding: var(--spacing-small);
    margin: var(--spacing-small);
}
.message.left{
   transform: translate(0);
   background-color: var(--clr-accent);
}
.message.right{
    transform: translate(100%);
    background-color: var(--clr-secondary);
    
}
.copyright-info{
    text-align: center;
}
@media (max-width:1000px) {
    nav{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-small);
        padding: var(--spacing-small) 0;
    }
    .end{
        justify-content: space-between;
    }
    nav .logo{
        margin: 0px
    }
    nav ul{
        
    }
    .main{
        margin-top: 120px;
    }
}