@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --clr-primary: #304C89;
    --clr-secondary: #648DE5;
    --clr-accent: #E8E5DA;
    --clr-text: rgb(0, 0, 0);
    --clr-white: rgb(255, 255, 255);
    --clr-gray-light: rgb(204, 195, 195);
    --clr-gray-dark: rgb(73, 68, 68);

    --spacing-small: .5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;

    --size-small: .3rem;
    --size-medium: .5rem;
    --size-large: 1rem;

}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}
li{}
a{
    text-decoration: none;
    color: var(--clr-text);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li a{
    margin: 0px var(--spacing-small);
}
nav form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-medium);
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

input{
    padding: var(--spacing-small);
    border: 1px solid var(--clr-gray-light);
    border-radius: var(--size-small);
}
.btn{
    display: inline-block;
    padding: var(--spacing-small) var(--spacing-medium);
    margin: var(--spacing-medium);
    margin-left: 0;
    border: none;
    border-radius: var(--size-small);
    cursor: pointer;
    transition: .3s ease;
}
.btn-primary{
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.btn-secondary{
    background-color: var(--clr-secondary);
    color: var(--clr-white);
}

/* feeds list */
.feed-form{
    max-width: 40vw;
    margin: auto;
    padding: var(--spacing-large);
}
.feed-form form{
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    
}

.feeds{
    min-width: 40vw;
    max-width: 600px;
    margin: auto;
    padding: var(--spacing-large);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.feeds .feed{
    padding: var(--spacing-small);
    border: 1px solid var(--clr-gray-light);
    border-radius: var(--size-small);
    box-shadow: 0 2px var(--size-medium) rgba(0, 0, 0, .1);
}

.feed .feed-header{
    padding: var(--spacing-small) var(--spacing-medium);
    border-bottom: 1px solid var(--clr-gray-light);
}

.feed .feed-body{
    padding: var(--spacing-medium) var(--spacing-large);
}

.feed .feed-footer{
    border-top: 1px solid var(--clr-gray-light);
    padding: var(--spacing-small) var(--spacing-medium);
    display: flex;
}