{% extends 'base.html' %}
{% load humanize %}

{% block content %}
        <section class="feed_detail">
            <article class="feed">
                <header class="feed-header">
                    <a href="{% url 'profile' feed.user.pk %}" class="feed-user">{{ feed.user }}</a>
                    <span class="feed-date">{{ feed.created | naturaltime }}</span>
                </header>
                <div class="feed-body">
                    <p>{{ feed.content }}</p>
                </div>
                <footer class="feed-footer">
                    <span class="feed-user">{{ feed.user }}</span>
                    {% comment %} <div>
                        {% for like in feed.likes.all|slice:3 %}
                            <span class="user-like">
                                {{like.username|upper|slice:1}}
                            </span>
                        {% endfor %}
                    </div> {% endcomment %}
                    <span class="feed-likes">
                
                        <span class="feed-like-number">{{ feed.likes.all | length}}</span>
                        <span>like{{ feed.likes.count| pluralize}}</span>

                        {% comment %} <a href="{% url 'feed:comment_feed' feed.pk %}" class="feed-comment-icon">📝</a> {% endcomment %}
                        <span class="feed-comment-number">{{ feed.comments.all | length}}</span>
                        <span>comment{{ feed.comments.count| pluralize}}</span>
                      
                    </span>
                </footer>
            </article>
            <h3>Comments</h3>
            <article class="feed-comments">
                {% for comment in comments %}
                
                <div class="comment">
                    <a href="{% url 'profile' comment.user.pk %}"><strong>{{ comment.user }} </strong></a>{{ comment.content }}
                </div>
                {% endfor %}
            </article>
            <article class="feed-form">
                <form action="{% url 'feed:comment_feed' feed.pk %}" method="post">
                    <div class="form-groups">
                        {% csrf_token %}
                        {{ form.content }}
                        <button type="submit" class="btn btn-black">Post</button>
                    </div>
                </form>
            </article>
        </section>
{% endblock content %}
{% block script %}
        {% comment %} <script src="{% static 'js/feed_detail.js' %}"></script> {% endcomment %}
{% endblock script %}