{% extends 'base.html' %}

{% block content %}
    <section class="followers_list">
        <h1>Followers for {{ profile.user.username }}</h1>
        <article>
            {% for follower in followers %}
                <div class="info">
                    <div>
                        <a href="{% url 'profile' follower.pk %}"><strong> {{ follower.user.username }}</strong></a>
                        <div class="stat">
                            <span> {{ follower.following.all|length}} Following </span>
                            <span> {{ follower.followers.all|length}} Followers </span>
                            <span>{{  follower.user.feeds.all|length}} Posts</span>
                        </div>
                    </div>
                    <a href="{% url 'follow' follower.pk %}" class="follow">
                        {% if request.user.profile in follower.followers.all %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </article>
    </section>
{% endblock content %}