{% extends 'base.html' %}

{% block content %}
    <section class="following-list">
        {% if following %}
        <h1>{{ profile.user.username }} is following</h1>
        <article>
            {% for following_user in following %}
                <div class="profile-list-info">
                    <div>
                        <a class="username" href="{% url 'profile' following_user.user.pk %}"><strong> {{ following_user.user.username }}</strong></a>
                        <div class="stat">
                            <span> {{ following_user.following.all|length}} Following </span>
                            <span> {{ following_user.followers.all|length}} Followers </span>
                            <span>{{  following_user.user.feeds.all|length}} Posts</span>
                        </div>
                    </div>
                    <a href="{% url 'follow' following_user.pk %}" class="btn btn-follow">
                        {% if request.user.profile in following_user.followers.all %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </article>
        {% endif %}
    </section>
{% endblock content %}