{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <section class="profile">
        <h1>Profile</h1>
        <article class="profile-info">
            <h3 class="profile-user-info">{{ user.first_name }} {{ user.last_name }}</h3>
            <div class="stats">
                
                <a href="{% if user.profile.following.all %} {% url 'following_list' user.profile.pk %} {% endif %}" class="following_stat">
                    <p>Following</p>
                    <span>{{ user.profile.following.all|length}}</span>
                </a>
                             
                <a href="{% if user.profile.followers.all %}{% url 'followers_list' user.profile.pk %} {% endif %}" class="followers_stat">
                    <p>Followers</p>
                    <span>{{ user.profile.followers.all|length}}</span>
                </a>
                <div class="feed_stat">
                    <p>Post</p>
                    <span>{{ user.feeds.all|length}}</span>
                </div>
                 {% if request.user != user %}
                    <a href="{% url 'follow' user.profile.pk %}" class="btn btn-follow">
                        {% if request.user.profile in user.profile.followers.all %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </a>
                    {% if request.user.profile in user.profile.followers.all %}
                    <a href="{% url 'direct_message:message_send' user.pk %}" class="btn btn-secondary">
                            Message
                        </a>
                    {% endif %}
                {% endif %}
            </div>
           
        </article>
        <article class="profile-feeds">
            {% if user == request.user %}
                <p>Your Posts</p>
            {% else %}
                <p>{{ user.username |title }}'s Posts</p>
            {% endif %}
            {% for feed  in feeds %}
                <div class="feed">
                    {% comment %} <a href="{% url 'feed:feed_detail' feed.pk %}">{{ feed }}</a> {% endcomment %}
                    <header class="feed-header">
                        <a href="{% url 'profile' feed.user.pk %}" class="feed-user">{{ feed.user }}</a>
                        <span class="feed-date">{{ feed.created | naturaltime }}</span>
                    </header>
                    <div class="feed-body">
                        <p>{{ feed.content }}</p>
                    </div>
                    <footer class="feed-footer">
                     
                        <span class="feed-info">
                            <a href="{% url 'feed:like_feed' feed.pk %}" class="feed-like-icon" data-feed-id="{{feed.pk }}" data-action=
                            {% if request.user in feed.likes.all %}
                            'unlike'
                            {% endif %}
                            'like'
                            >
                                {% if request.user in feed.likes.all %}
                                👍
                                {% else %}
                                👍🏼
                                {% endif %}
                            </a>
                            <div class="feed-like-info">

                                <span class="feed-like-number">{{ feed.likes.all | length}}</span>
                                <span>like{{ feed.likes.count| pluralize}}</span>
                            </div>
                            <div class="feed-comment-info">

                                <span class="feed-comment-number">{{ feed.comments.all | length}}</span>
                                <span>comment{{ feed.comments.count| pluralize}}</span>
                            </div>
                            <a href="{% url 'feed:feed_detail' feed.pk %}" class="btn btn-primary">View</a>
                        </span>
                    </footer>
                </div>
            {% empty %}
                {% if request.user == user %}
                    <p class="no-feeds">You haven't posted anything yet.</p>
                {% else %}
                    <p class="no-feeds">{{ user.username }} hasn't posted anything yet.</p>
                {% endif %}
            {% endfor %}
        </article>
    </section>
{% endblock content %}