{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="logo"><a href="{% url 'landing:home' %}">sn📷</a></div>
                <ul>
                    <li><a href="{% url 'landing:home' %}">Home </a></li>
                    {% if request.user.is_authenticated %}
                        <li><a class="notification-link" href="{% url 'notification:notification_list' %}">Notifications 
                            {% if notification_counts > 0 %}
                                <span class="notification-counts">{{ notification_counts }}</span>
                            {% endif %}
                            </a>
                        </li>
                        <li><a href="{% url 'feed:feed_list' %}">Feeds </a></li>
                        {% comment %} <li><a href="{% url 'feed:feed_create' %}">Post a Feeds </a></li> {% endcomment %}
                    
                </ul>
                <form class="search-form" action="{% url 'search' %}" method="get">
                    <div class="form-group">
                        <input type="search" name="query" id="search-input" class="search-input">
                    </div>
                    <button class="btn btn-primary" type="submit">search</button>
                </form>
                {% endif %}
                <ul class="end">
                    {% if request.user.is_authenticated %}
                    
                        <li><a href="{% url 'profile' %}">Hello, {{ request.user.username }}</a></li>
                        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Register</a></li>
                    {% endif %}
                    
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="container">
            {% block content %}
            
            {% endblock content %}
        </section>
    </main>
    <footer class="footer">
        <section class="container">
            <div class="copyright-info">
                <h4>sn</h4>
                <p>All right reserved &copy; <span class="year"></span></p>
            </div>
        </section>
    </footer>
    {% block script %}

    {% endblock script %}
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>