{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <section class="search">
        {% if profiles %}
            <article class='profile'>
                <h3>People</h3>
                {% for profile in profiles %}
                    <div>
                       <a href="{% url 'profile' profile.pk %}"><strong> {{ profile.user.username }}</strong></a>
                        <a href="{% url 'follow' profile.pk %}" class="follow">
                            {% if request.user.profile in profile.followers.all %}
                                Unfollow
                            {% else %}
                                Follow
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </article>
        {% endif %}
        {% if feeds %}
        <article class="feeds">
            <h3>Feeds</h3>
            {% for feed  in feeds %}
            <div>
                <div class="feed">
                    {% comment %} <a href="{% url 'feed:feed_detail' feed.pk %}">{{ feed }}</a> {% endcomment %}
                    <header class="feed-header">
                        <a href="{% url 'profile' feed.user.pk %}" class="feed-user">{{ feed.user }}</a>
                        <span class="feed-date">{{ feed.created | naturaltime }}</span>
                    </header>
                    <div class="feed-body">
                        <p>{{ feed.content }}</p>
                    </div>
                    <footer class="feed-footer">
                        <div>
                            {% for like in feed.likes.all|slice:3 %}
                                <span class="user-like">
                                    {{like.username|upper|slice:1}}
                                </span>
                            {% endfor %}
                        </div>
                        <span class="feed-likes">
                            <a href="{% url 'feed:like_feed' feed.pk %}" class="feed-like-icon" data-feed-id="{{feed.pk }}" data-action=
                            {% if request.user in feed.likes.all %}
                            'unlike'
                            {% endif %}
                            'like'
                            >
                                {% if request.user in feed.likes.all %}
                                👍
                                {% else %}
                                👍🏼
                                {% endif %}
                            </a>
                            <span class="feed-like-number">{{ feed.likes.all | length}}</span>
                            <span>like{{ feed.likes.count| pluralize}}</span>
    
                            {% comment %} <a href="{% url 'feed:comment_feed' feed.pk %}" class="feed-comment-icon">📝</a> {% endcomment %}
                            <span class="feed-comment-number">{{ feed.comments.all | length}}</span>
                            <span>comment{{ feed.comments.count| pluralize}}</span>
                            <a href="{% url 'feed:feed_detail' feed.pk %}" class="btn">View</a>
                        </span>
                    </footer>
                </div>
            </div>
            {% empty %}
                <p> no posts.</p>
            {% endfor %}
        </article>
        {% endif %}
    </section>
{% endblock content %}