{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <section class="search">
        {% if profiles %}
            <article class='profile'>
                <h3>People</h3>
                {% for profile in profiles %}
                    <div class="profile-list-info">
                        <div>
                            <a class="username" href="{% url 'profile' profile.pk %}"><strong> {{ profile.user.username }}</strong></a>
                            <div class="stat">
                                <span> {{ profile.following.all|length}} Following </span>
                                <span> {{ profile.followers.all|length}} Followers </span>
                                <span>{{  profile.user.feeds.all|length}} Posts</span>
                            </div>
                        </div>
                        <a href="{% url 'follow' profile.pk %}" class="btn btn-follow">
                            {% if request.user.profile in profile.followers.all %}
                                Unfollow
                            {% else %}
                                Follow
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </article>
        {% endif %}
        {% if feeds %}
        <article class="feeds">
            <h3>Feeds</h3>
            {% for feed  in feeds %}
                <div class="feed">
                    {% comment %} <a href="{% url 'feed:feed_detail' feed.pk %}">{{ feed }}</a> {% endcomment %}
                    <header class="feed-header">
                        <a href="{% url 'profile' feed.user.pk %}" class="feed-user">{{ feed.user }}</a>
                        <span class="feed-date">{{ feed.created | naturaltime }}</span>
                    </header>
                    <div class="feed-body">
                        <p>{{ feed.content }}</p>
                    </div>
                    <footer class="feed-footer">
                        <div class="feed-info">
                            <a href="{% url 'feed:like_feed' feed.pk %}" class="feed-like-icon" data-feed-id="{{feed.pk }}" data-action=
                            {% if request.user in feed.likes.all %}
                            'unlike'
                            {% endif %}
                            'like'
                            >
                                {% if request.user in feed.likes.all %}
                                👍
                                {% else %}
                                👍🏼
                                {% endif %}
                            </a>
                            <div class="feed-like-info">
                                <span class="feed-like-number">{{ feed.likes.all | length}}</span>
                                <span>like{{ feed.likes.count| pluralize}}</span>
                            </div>
                            <div class="feed-comment-info">
                                <span class="feed-comment-number">{{ feed.comments.all | length}}</span>
                                <span>comment{{ feed.comments.count| pluralize}}</span>
                            </div>
                            <a href="{% url 'feed:feed_detail' feed.pk %}" class="btn btn-secondary">View</a>
                        </div>
                    </footer>
                </div>
            {% empty %}
                <p> no posts.</p>
            {% endfor %}
        </article>
        {% endif %}
    </section>
{% endblock content %}