{% extends 'base.html' %}

{% block content %}
    <section class="notifications">
        {% for notification in notifications %}
            
            <div class="info">
                {% comment %} <a href="{% url 'profile' notification.user.profile.pk %}"><strong>{{ notification.user.username }}</strong></a> {% endcomment %}
                {% if notification.type == 'like' %}
                    <p><a href="{% url 'notification:notification_detail' notification.pk %}"><strong>{{ notification.user.username }}</strong> liked your post</a></p>
                {% elif notification.type == 'comment' %}
                    <p><a href="{% url 'notification:notification_detail' notification.pk %}"><strong>{{ notification.user.username }}</strong> commented on your post</a></p>
                {% elif notification.type == 'follow' %}
                    <p><a href="{% url 'notification:notification_detail' notification.pk %}"><strong>{{ notification.user.username }}</strong> started following you</a></p>
                {% endif %}
                {% empty %}
                <p> You have no notification</p>
                {% endfor %}
            </div>
    </section>
{% endblock content %}